@model ChefSahar.UI.WebUI.Components.Recipes.Components.Get.GetRecipeViewModel

<section class="ranna-slider-area">
    <div class="container">
        <div class="rc-carousel nav-control-layout2" data-loop="true" data-items="30" data-margin="5"
             data-autoplay="false" data-autoplay-timeout="5000" data-smart-speed="700" data-dots="false"
             data-nav="true" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true"
             data-r-x-small-dots="false" data-r-x-medium="1" data-r-x-medium-nav="true" data-r-x-medium-dots="false"
             data-r-small="1" data-r-small-nav="true" data-r-small-dots="false" data-r-medium="1"
             data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="1" data-r-large-nav="true"
             data-r-large-dots="false" data-r-extra-large="1" data-r-extra-large-nav="true"
             data-r-extra-large-dots="false">
            <div class="ranna-slider-content-layout1">
                <figure class="item-figure"><a href="single-recipe1.html"><img src="@Model.ImageUrl" alt="Product"></a></figure>
                <div class="item-content">
                    @await Component.InvokeAsync(typeof(ChefSahar.UI.WebUI.Components.Categories.Components.GetCategory.GetCategoryViewComponent), new { CategoryId = Model.Category_ID })
                    <h2 class="item-title"><a href="single-recipe1.html">@Model.Title</a></h2>
                    
                    <p>
                       @Model.Description
                    </p>
                    <ul class="entry-meta">
                        <li><a><i class="fas fa-clock"></i>@Model.TimePrep Mins</a></li>
                        <li><a><i class="fas fa-utensils"></i>@Model.CookTime Mins</a></li>
                        <li><a><i class="fas fa-users"></i>@Model.NumberServing People</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- Slider Area End Here -->